[submodule ".vim/bundle/vim-hariti"]
	path = .vim/bundle/vim-hariti
	url = https://github.com/kamichidu/vim-hariti.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
